In [83]:
import numpy as np
import pandas as pd
import quandl

In [84]:
data = quandl.get('EOD/AAPL', api_key = 'K1KyjzYfx4frQJvtna1x')

In [85]:
data.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0

In [86]:
df = data[['Adj_Open', 'Adj_High', 'Adj_Low', 'Adj_Close', 'Adj_Volume']]

In [87]:
df.head()

             Adj_Open   Adj_High    Adj_Low  Adj_Close   Adj_Volume
Date
2013-09-03  15.619650  15.857223  15.437510  15.476472  331928800.0
2013-09-04  15.824280  15.909173  15.720381  15.796753  345032800.0
2013-09-05  15.846136  15.859757  15.636755  15.688388  236367600.0
2013-09-06  15.788802  15.818578  15.519869  15.781833  359525600.0
2013-09-09  15.996600  16.089095  15.948451  16.033661  340687200.0

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1090 entries, 2013-09-03 to 2017-12-28
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Adj_Open    1090 non-null   float64
 1   Adj_High    1090 non-null   float64
 2   Adj_Low     1090 non-null   float64
 3   Adj_Close   1090 non-null   float64
 4   Adj_Volume  1090 non-null   float64
dtypes: float64(5)
memory usage: 51.1 KB

In [89]:
df.describe()

          Adj_Open     Adj_High      Adj_Low    Adj_Close    Adj_Volume
count  1090.000000  1090.000000  1090.000000  1090.000000  1.090000e+03
mean     26.367551    26.578236    26.152043    26.373196  1.931334e+08
std       6.614490     6.640870     6.578682     6.616455  1.112891e+08
min      14.189776    14.561974    14.166335    14.258197  4.590369e+07
25%      22.170235    22.433992    21.948836    22.201030  1.133450e+08
50%      25.781510    26.055842    25.511496    25.789823  1.681963e+08
75%      29.329099    29.541994    29.133958    29.362853  2.394642e+08
max      42.125703    42.628488    42.065561    42.440845  1.065523e+09

In [90]:
df['HL_PCT']  = (df['Adj_High'] - df['Adj_Low'])/df['Adj_Close']*100
df['PCT_change'] = (df['Adj_Close'] - df['Adj_Open'])/df['Adj_Open']*100

<ipython-input-90-150e1018026c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HL_PCT']  = (df['Adj_High'] - df['Adj_Low'])/df['Adj_Close']*100
<ipython-input-90-150e1018026c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PCT_change'] = (df['Adj_Close'] - df['Adj_Open'])/df['Adj_Open']*100

In [91]:
df.head()

,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
Date,,,,,,,
2013-09-03,15.619650,15.857223,15.437510,15.476472,331928800.0,2.711941,-0.916650
2013-09-04,15.824280,15.909173,15.720381,15.796753,345032800.0,1.195129,-0.173953
2013-09-05,15.846136,15.859757,15.636755,15.688388,236367600.0,1.421447,-0.995502
2013-09-06,15.788802,15.818578,15.519869,15.781833,359525600.0,1.892738,-0.044138
2013-09-09,15.996600,16.089095,15.948451,16.033661,340687200.0,0.877176,0.231683

In [92]:
df=df[['Adj_Close', 'HL_PCT', 'PCT_change']]

In [93]:
df.head()

            Adj_Close    HL_PCT  PCT_change
Date
2013-09-03  15.476472  2.711941   -0.916650
2013-09-04  15.796753  1.195129   -0.173953
2013-09-05  15.688388  1.421447   -0.995502
2013-09-06  15.781833  1.892738   -0.044138
2013-09-09  16.033661  0.877176    0.231683

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1090 entries, 2013-09-03 to 2017-12-28
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Adj_Close   1090 non-null   float64
 1   HL_PCT      1090 non-null   float64
 2   PCT_change  1090 non-null   float64
dtypes: float64(3)
memory usage: 34.1 KB

In [95]:
import math

In [96]:
df.fillna(-99999)

            Adj_Close    HL_PCT  PCT_change
Date
2013-09-03  15.476472  2.711941   -0.916650
2013-09-04  15.796753  1.195129   -0.173953
2013-09-05  15.688388  1.421447   -0.995502
2013-09-06  15.781833  1.892738   -0.044138
2013-09-09  16.033661  0.877176    0.231683
...               ...       ...         ...
2017-12-21  42.101646  1.097080    0.482287
2017-12-22  42.101646  0.527970    0.188917
2017-12-26  41.033528  1.050009   -0.134660
2017-12-27  41.040745  0.627198    0.293945
2017-12-28  41.156217  0.800795    0.046784

[1090 rows x 3 columns]

In [97]:
forecast_col = 'Adj_Close'

In [98]:
df.fillna(-99999, inplace = True)

In [99]:
forecast_out = int(math.ceil(0.01 * len(df)))

In [100]:
df['label'] = df[forecast_col].shift(-forecast_out)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1090 entries, 2013-09-03 to 2017-12-28
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Adj_Close   1090 non-null   float64
 1   HL_PCT      1090 non-null   float64
 2   PCT_change  1090 non-null   float64
 3   label       1079 non-null   float64
dtypes: float64(4)
memory usage: 42.6 KB

In [116]:
df = df.dropna()

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1079 entries, 2013-09-03 to 2017-12-12
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Adj_Close   1079 non-null   float64
 1   HL_PCT      1079 non-null   float64
 2   PCT_change  1079 non-null   float64
 3   label       1079 non-null   float64
dtypes: float64(4)
memory usage: 42.1 KB

In [118]:
X = np.array(df.drop(['label'], 1))
y = np.array(df['label'])

In [119]:
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [120]:
X = preprocessing.scale(X)
y = np.array(df['label'])

In [121]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [122]:
lr = LinearRegression()

In [123]:
lr.fit(x_train, y_train)

LinearRegression()

In [124]:
lr.score(x_test, y_test)

0.968152443066024

In [125]:
from sklearn.metrics import mean_squared_error

In [126]:
pred = lr.predict(x_test)

In [127]:
pred

array([22.55046987, 39.66837186, 21.60098395, 20.54505497, 21.73526483,
       41.32469227, 23.90440688, 17.041055  , 29.9771354 , 34.97424442,
       25.49842608, 28.47507673, 25.16256301, 29.3224378 , 36.90770239,
       34.58562399, 25.76523138, 35.16192146, 39.06026275, 16.95300124,
       30.30612109, 26.93240563, 36.63840645, 28.84728337, 22.17110801,
       20.98703806, 21.5217414 , 25.89019938, 29.41026657, 17.04893373,
       37.10774255, 22.04257214, 23.78198511, 27.55580521, 15.56102368,
       16.86892501, 33.38113279, 17.78716887, 27.7008858 , 26.63330338,
       22.70386047, 37.91538669, 23.08298874, 25.62454693, 28.01762634,
       36.87208549, 22.87108972, 40.98248947, 22.77705026, 24.17413774,
       39.64289792, 24.85002343, 26.17604179, 42.36670759, 35.07540397,
       26.04191776, 24.92000877, 26.46416811, 36.04676988, 34.26071613,
       29.40391599, 16.62998307, 29.51565953, 27.50683298, 24.88354636,
       29.30665097, 15.68150029, 28.417795  , 21.0694556 , 17.79105488,
       27.48966464, 27.70607512, 26.64989035, 38.95039013, 17.52570113,
       23.88414695, 36.23400418, 42.20194318, 20.37102719, 32.61693015,
       17.34146866, 22.56132724, 27.67220572, 22.33084528, 33.49013268,
       26.50573476, 25.7503747 , 35.11769214, 17.38456627, 24.80795304,
       27.15001043, 27.08287887, 22.69200161, 17.65730727, 22.76542732,
       23.10049297, 22.41788978, 16.75000361, 21.54741446, 27.06614768,
       25.94064525, 29.69111252, 35.93276363, 37.98711354, 19.33739625,
       40.01002564, 25.09081627, 27.20571218, 25.81652207, 17.30731603,
       41.59209299, 19.71360431, 17.62965976, 25.91493512, 24.92562532,
       18.03427111, 24.2046724 , 28.05752531, 41.1366929 , 23.05523431,
       21.55219684, 22.93021914, 15.58839579, 17.31157359, 27.65380422,
       38.93959912, 26.21639881, 20.78839109, 17.22099927, 16.26620074,
       37.40508247, 38.32326171, 29.0305298 , 29.57616568, 16.94905168,
       19.41024465, 37.11197119, 26.53389431, 35.02961763, 25.57231234,
       18.13967754, 23.10197473, 16.94667669, 15.84940597, 19.3262581 ,
       22.99944187, 19.216381  , 23.71144644, 27.45118213, 25.10105716,
       38.86215145, 25.52823139, 16.87195447, 28.17480311, 25.17056775,
       29.14700328, 38.34601519, 38.54903151, 27.38790169, 29.24700923,
       23.04851759, 21.00355255, 25.02299333, 25.81691311, 17.09659907,
       27.27285654, 27.38135956, 17.0830368 , 36.03998678, 33.79289874,
       42.48946897, 27.54089917, 27.63280821, 17.61676802, 22.61620849,
       34.8823043 , 28.21765422, 29.45019557, 30.15135008, 33.45547424,
       26.74516876, 22.88574369, 18.33733844, 20.9112518 , 24.97375708,
       17.27102424, 26.7095223 , 24.5613789 , 27.91981777, 29.30955566,
       26.74484459, 30.21101292, 21.88015421, 26.31688153, 29.78538016,
       33.40028675, 26.07480316, 22.06313544, 22.02796869, 23.52317388,
       26.71044455, 25.11821453, 22.90870382, 37.68313262, 17.53469813,
       25.73472887, 27.54865927, 23.45168866, 15.04170051, 37.48462776,
       23.21336715, 32.53382344, 18.45753936, 26.878306  , 36.29641291,
       26.527921  ])

In [129]:
mean_squared_error(pred, y_test)

1.4784481239024334